<div id="dtr">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <h1 class="text-uppercase hv text-start w-100 ml-15-negative">Data en tiempo real</h1>
                    <p class="fs-4">Publicamos datos en tiempo real -cada cinco minutos- sobre los views en vivo de los principales canales de stream desde las 7 hasta las 23 horas todos los días.</p>
                    <div class="text-center">
                        <img src="/images/EDS.svg" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <img src="/images/data1.png" class="img-fluid max-vh-80"/>
            </div>
        </div>
    </div>
</div>