<nav id="navbarNav" class="header navbar navbar-expand-lg fixed-top" aria-label="Fourth navbar example">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/images/EDS.svg" class="main_logo"/>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarsExample04" style="">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="#" id="top-btn" onClick="scrollToSection('top'); return false;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="qs-btn" onClick="scrollToSection('qs'); return false;">Quiénes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="dtr-btn" onClick="scrollToSection('dtr'); return false;" >Data en Tiempo Real</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="rs-btn" onClick="scrollToSection('rs'); return false;" >Redes Sociales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="login-btn" onClick="scrollToSection('login'); return false;" >Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>