<div id="inf">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center">
                <img src="/images/data3.png" class="img-fluid max-vh-80 d-none d-md-block" style="position:absolute; bottom: 0;"/>
            </div>
            <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <h1 class="text-uppercase hv text-start w-100 ml-15-negative">Informes</h1>
                    <p class="fs-4">En nuestra web y redes sociales, divulgamos los informes de audiencia realizadas en forma periódica por Rating Streaming quien junto a <span class="colorized">EnDirectoSteam</span> forman una alianza estratégica en la industria del stream.</p>
                    <div class="text-center">
                        <img src="/images/EDS.svg" width="150" height="150" class="mt-5 d-none d-md-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>