<hr/>
<div id="stats-query" class="stats">
  <div class="">
    <h3>Rango de fechas</h3>
    <div class="input-group mt-3">
      <span class="input-group-text">Fecha desde:</span>
      <input type="date" class="form-control" id="date-from"/>
    </div>
    <div class="input-group mt-3">
      <span class="input-group-text">Fecha hasta:</span>
      <input type="date" class="form-control" id="date-to"/>
    </div>
    <div class="input-group mt-3">
      <select class="form-select" id="platform">
        <option value="">Plataforma</option>
        <option value="all">Todas</option>
        <option value="twitch">Twitch</option>
        <option value="youtube">Youtube</option>
      </select>
      <select class="form-select" id="data-type">
        <option value="">Tipo de operaci&oacute;n</option>
        <option value="full_data">Datos</option>
        <option value="accum_channel">Acumulados por canal</option>
      </select>        
    </div>
    <div class="input">
      <button class="btn btn-success querier mt-3" id="querier-btn">Consultar</button>
    </div>
  </div>

  <div id="switcher" class="mt-3">
    <div id="switcher-controls"></div>
    <div id="sum-query" class="stats row g-4 py-5 row-cols-1 row-cols-lg-5 gx-2"></div>
    <div id="day-query"></div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <!-- Toast -->
    <div id="toast-success" class="toast bg-success text-white hide" role="alert" aria-live="assertive" aria-atomic="true">
        
      <div class="toast-body">
        <span id="toast-body-content"></span>
      </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 12">
    <!-- Toast -->
    <div id="toast-error" class="toast bg-danger text-white hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body">
        <span id="toast-body-content-error"></span>
      </div>
    </div>
</div>