<div id="qs">
    <div class="container">
        <div class="row">
            <h1 class="text-uppercase hv">Quienes somos</h1>
            <p class="fs-4">En un mundo donde cada vez hay más y más programas en plataformas de streaming, se vuelve difícil saber qué programa tiene éxito y cual no. ¿Qué show es el más visto? ¿Cuál es el que tiene la audiencia más fidelizada? ¿Qué plataforma es más usada para el consumo de los usuarios?</p>
            <p class="fs-4"><span class="colorized">EnDirectoStream</span> nace de esta y otras preguntas que nos gustaría responder. Es por eso que realizaremos un monitoreo diario, de lunes a viernes, donde le brindaremos a los usuarios la información necesaria para saber qué es exitoso sin tener que estar pendiente y/o consumirlo.</p>
            <p class="fs-4">Mientras más oferta hay, más difícil es capitalizar los consumos de los usuarios. Somos <span class="colorized">EnDirectoStream</span> y vinimos a darte la info que no sabías que necesitabas</p>
            <div class="text-center">
                <img src="/images/EDS.svg" class="img-fluid" width="200" height="200">
            </div>
        </div>
    </div>
</div>