<div id="rs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center">
                <img src="/images/data2.png" class="d-none d-md-block img-fluid max-vh-80"/>
            </div>
            <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <h1 class="text-uppercase hv text-start w-100 ml-15-negative">Redes Sociales</h1>
                    <p class="fs-4">En nuestras redes sociales, tanto en Twitter como en Instagram, podrán encontrar los cortes diarios de views en vivo a las 10, 13, 15, 21 y 23 horas de lunes a viernes.</p>
                    <p class="fs-4">También te mostramos recomendaciones, curiosidades, datos y los informes sobre audiencia tanto en tiempo real como on demand.</p>
                    <div class="text-center">
                        <a href="https://twitter.com/EndirectoStream" target="_blank"><img src="/images/Twitter.svg" width="75" height="75" class="mr-1 mt-5 d-none d-md-inline-block"></a>
                        <a href="https://www.instagram.com/endirecto.stream/" target="_blank"><img src="/images/Instagram.svg" width="75" height="75" class="ml-1 mt-5 d-none d-md-inline-block"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>